<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<%= simple_form_for [@bike, @booking] do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.submit %>
<% end %>
