<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopify.com/s/files/1/0465/7673/0264/files/334_1400x.gif?v=1655366704);">
  <div class="container">
    <h1>Go on a bike adventure !</h1>
    <p>Rent a bike with us and have a lot of fun. Youhou !</p>
    <a class="btn btn-primary" href="/bikes">Find a bike</a>
  </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>Find a bike around you</h2>
<div class="card-bike">
  <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
  <div class="card-bike-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99 per day</h2>
    <img src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" class="card-bike-user avatar-bordered" />
  </div>
</div>
