<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopify.com/s/files/1/0465/7673/0264/files/334_1400x.gif?v=1655366704);">
  <div class="container">
    <h1>Go on a bike adventure !</h1>
    <p>Rent a bike with us and have a lot of fun. Youhou !</p>
    <a class="btn pink-btn" href="/bikes">Find bikes around me</a>
  </div>
</div>

<div class="container text-center">
  <h3>New bikes available on RentMyBike:</h3>
  <div class="cards-grid">
    <%= render 'bikes/cards-grid', bikes: @bikes %>
  </div>
</div>
