
<div class=add-margin>
  <h1 class='text-center add-margin'>Pick a bike around you</h1>
  <div class='container'>
    <div>
      <div class="mx-auto my-10">
          <div style="width: 100%; height: 600px";
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </ul>
      </div>

      <div class="mx-auto">
        <div class="container index">
          <div class="cards-grid">
            <%= render 'bikes/cards-grid', bikes: @bikes %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
