<%# <h1>Bikes around you</h1> %>
<div class='row'>
  <div class='col-12 '>
      <div style="width: 90%; height: 600px";
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"; class="align-middle"></div>
    </ul>
  </div>

  <div class=col-12>
    <div class="container index">
      <div class="cards-grid">
        <%= render 'bikes/cards-grid', bikes: @bikes %>
      </div>
    </div>
  </div>
</div>
