.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar_see_bikes{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  top:11px;
  border-color: #fc7c6c;
  border-style: solid, 2px;
  color: #fc7c6c;
  font-weight: 600;
}


#navbar_see_bikes:hover{
  color: white !important;
  background-color:#fc7c6c ;
  font-weight: bold;
  transition: all 0.5s
}
