// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import "bootstrap/scss/bootstrap";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "pages/dashboard";
@import "pages/show";
@import "components/address_autocomplete";
@import "star-rating.js/dist/star-rating.css";

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.main-body-container {
  min-height: calc(100vh - 100px - 50px);
 }
 
.add-margin{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  padding: 0 10px !important;
}
